@import './_colours.scss';

.Leaderboard {
  margin-top: 30px;
  margin-bottom: 15px;

  caption {
    background-color: $primary-colour;
    text-align: center;
    color: $secondary-colour;
    font-size: 18px;
  }
}
